.accordion-criteria {
    color: #28418C;

    .accordion__section {
        padding: 24px 24px 15px;
        border: 1px solid #28418C;
        border-radius: 24px;
        margin-bottom: 16px;
    }

    .accordion__head h5 {
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }

    .accordion__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; 
        margin-bottom: 8px;
    }

    .accordion__body {
        font-size: 16px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
    }

    .accordion__body p {
        max-width: 618px;
    }

    .accordion__btn {
        display: block;
        width: 24px; 
        height: 24px; 
        background-image: url('../../src/images/accordion-open.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform .4s ease-out; 

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    // is-current

    .accordion__section.is-current {
        color: #fff;
        background-color: #28418C;
    }

    .accordion__section.is-current .accordion__btn {
        background-image: url('../../src/images/accordion-close.svg');
    }

    .accordion__section.is-current .accordion__body {
        max-height: 1000px; 
        padding-bottom: 6px;
    }

}