// Base

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$breakpoint-large-desktop: 1509px;
$breakpoint-small-desktop: 1199px;
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;
$breakpoint-small-mobile: 374px;

body {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #595959;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', sans-serif;
}

h1 {
    font-size: 110px;
    font-family: 'Playfair Display SC', sans-serif;
    color: #FF562F;

    @media screen and (max-width: $breakpoint-large-desktop) {
        font-size: 90px;
    }

    @media screen and (max-width: $breakpoint-small-desktop) {
        font-size: 60px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        font-size: 50px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 46px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.25;
    color: #28418C;

    @media screen and (max-width: $breakpoint-tablet) {
        font-size: 38px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 36px;
    }
}

h2 span {
    color: #FF562F;
}

h3 {
    font-size: 32px;
    line-height: 1.56;
}

h4 {
    font-size: 24px;
    font-weight: 400;

    @media screen and (max-width: $breakpoint-tablet) {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 18px;
    }
}

h6 {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: $breakpoint-small-desktop) {
    .main {
        margin-top: 108px;
    }
}
