// Btn

.btn {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    background: linear-gradient(to bottom right, #EC3A3A, #F87B46);
    padding: 12px 72px 12px 24px;
    position: relative;
    border-radius: 99em;
    display: inline-block;
    filter: drop-shadow(0 4px 4px rgba(255, 196, 68, 0.15)) 
    drop-shadow(0 20px 10px rgba(191, 4, 19, 0.3)); 

    &:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 16.5px;
        top: 50%;
        right: 26px;
        transform: translateY(-50%);
        background-image: url('../../src/images/arrow-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10;
    }
}

// btn--outlined 

.btn--outlined {
    color: #FF562F;
    border: 2px solid #FF562F;
    background-color: transparent;
    background-image: none;
    padding: 10px 26.5px;

    &:before {
        display: none;
    }
}