// Card

.card {
    padding: 32px 32px 31px;
    color: #fff;
    background-color: #28418C;
    text-align: left;
    width: calc(50% - 25px);
    border-radius: 25px;
    position: relative;

    @media screen and (max-width: $breakpoint-small-mobile) {
        width: calc(50% - 15px);
    }

    @media screen and (max-width: $breakpoint-tablet) {
        width: 100%;
        max-width: 800px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 30%;
        width: 40%;
        height: 100%;
        background-image: linear-gradient(to right, #28418C, rgba(40, 65, 140, .54), rgba(40, 65, 140, 0));
        z-index: 2;

        @media screen and (max-width: $breakpoint-small-desktop) {
            right: 34%;
        }

        @media screen and (max-width: 545px) {
            background-image: linear-gradient(to right, #28418C, rgba(40, 65, 140, 1), rgba(40, 65, 140, 0));            
            border-radius: 25px;
            right: 60%;
        }
    }

    p {
        position: relative;
        z-index: 5;
    }

    h5 {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        margin-bottom: 26px;
        text-transform: uppercase;
        position: relative;
        z-index: 5;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card__image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .8;
        z-index: 1;
        border-radius: 25px;

        @media screen and (max-width: $breakpoint-small-desktop) {
            opacity: .5;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            object-position: right;
        }
    }

    .card__entry {
        font-size: 18px;
        max-width: 363px;
        position: relative;
        z-index: 10;

        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 16px;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            max-width: 100%;
        }
    }

    .card__entry ul {
        list-style: none;
        padding-left: 11px;
    }

    .card__entry li {
        position: relative;
        padding-left: 15px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 13px;
            width: 5px;
            height: 5px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 5;
        }
    }
}

// Card--alt

.card--alt {
    background-color: #F77746;

    &:after {
        background-image: linear-gradient(to right, #F77746, rgba(#F77746, 0));
        right: 33%;

        @media screen and (max-width: $breakpoint-large-desktop) {
            right: 37%;
        }

        @media screen and (max-width: $breakpoint-small-desktop) {
            right: 43%;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            right: 33%;
        }

        @media screen and (max-width: 545px) {
            right: 60%;
        }
    }

    p {
        max-width: 372px;

        @media screen and (max-width: $breakpoint-mobile) {
            max-width: 100%;
        }
    }

    .card__image {
        opacity: .4;
    }

    .card__entry {
        font-size: 16px;
    }

    .card__entry li {
        padding-left: 14px;

        &:after {
            top: 12px;
            width: 4px;
            height: 4px;
        }
    }
}