// Footer

.footer {
    color: #fff;
    background-color: #28418C;
    padding-block: 37px 29px;

    @media screen and (max-width: $breakpoint-mobile) {
        padding-block: 30px 20px;
    }

    .footer__inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 26px;
        margin-bottom: 32px;

        @media screen and (max-width: $breakpoint-small-desktop) {
           column-gap: 30px;
           margin-bottom: 26px;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
        }
    }
    
    .footer__logo {
        width: 206px;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint-large-desktop) {
            margin-bottom: 15px;
        }
    }

    .footer__logo span {
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
    }

    .footer__logo p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3.5px;
    }

    .footer__nav {
        @media screen and (max-width: $breakpoint-small-desktop) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .footer__nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        @media screen and (max-width: $breakpoint-large-desktop) {
            gap: 33px;
        }

        @media screen and (max-width: $breakpoint-small-desktop) {
            justify-content: flex-start;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            gap: 15px 26px;
        }
    }

    .footer__nav a {
        font-weight: 200;
        letter-spacing: -0.44px;
        font-size: 16px;
    }
    
    .footer__content {
        font-weight: 300;
        font-size: 14px;
        color: rgba( #fff, .7);
        padding-bottom: 32px;
        margin-bottom: 32px;
        position: relative;

        @media screen and (max-width: $breakpoint-small-desktop) {
            padding-bottom: 26px;
            margin-bottom: 26px;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
        }
    }

    .footer__links {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 38px;
        margin-bottom: 16px;

        @media screen and (max-width: $breakpoint-tablet) {
            gap: 30px;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            gap: 10px 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer__links a {
        font-size: 16px;
        letter-spacing: -0.44px ;
    }
}