// Header 

.header {
    padding-block: 32px 20px;

    .header__inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 139px;
        row-gap: 30px;
    }

    .header__nav {
        display: flex;
        flex-wrap: wrap;
        column-gap: 79px;
        row-gap: 30px;
        align-items: center;
    }

    .header__btn {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        padding: 9px 24px;
        background-color: #28418C;
        border-radius: 99em;
    }
}