// Logo

.logo {
    width: 206px;
    text-transform: uppercase;
    position: relative;
    z-index: 999;

    span {
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3.5px;
    }
}

