// Section-faq

.section-faq {
    margin-block: 105px 100px;

    .section__head {
        text-align: center;
        margin-bottom: 64px;
    }

    .section__body {
        max-width: 996px;
        margin-inline: auto;
    }

    .section__actions {
        margin-top: 32px;
        text-align: center;
    }
}