// Section-faq

.section-faq {
    margin-block: 118px 100px;

    .section__head {
        text-align: center;
        margin-bottom: 72px;
    }

    .section__body {
        max-width: 972px;
        margin-inline: auto;
    }
}