// Tabs-programs

.tabs-programs {
    background-color: #fff;
    padding: 70px 67px 28px;
    border-radius: 30px;
    margin-bottom: 63px;

    @media screen and (max-width: $breakpoint-large-desktop) {
        padding: 40px 40px 28px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom: 45px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 30px 20px 20px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    
    .tabs__head {
        margin-bottom: 32px;
    }

    .tabs__nav {
        display: grid;
        grid-template-columns: 76.3% auto; 
        align-items: center;
        gap: 4px;

        @media screen and (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr;
        }
    }

    .tabs__balance {
        @media screen and (max-width: $breakpoint-large-desktop) {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .tabs__balance,
    .tabs__programs {
        border: 1px solid rgba(#C3DBE6, .5 );
        padding: 8px;
        border-radius: 4px;
    }

    .tabs__balance ul {
        position: relative;
    }

    .tabs__balance .tabs__balance-pointer {
        position: absolute;
        top: -28px;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url('../../src/images/fire.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transition: left .4s ease;
        pointer-events: none;
    }

    .tabs__programs ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @media screen and (max-width: $breakpoint-large-desktop) {
            flex-direction: column;
        }
    }

    .tabs__balance ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(102px, 1fr));
        gap: 8px;
    }

    .tabs__programs li {
        flex: 1;
    }

    .tabs__balance h6,
    .tabs__programs h6 {
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        color: #EC3A3A;
        line-height: 1.25;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .tabs__programs .tabs__program-current {
        display: none;
    }

    .tabs__balance a:not(.tabs__balance-pointer) {
        display: block;
        position: relative;
        padding: 8px 8px 8px 28px;
        text-align: right;
        background-color: rgba(#EDF5F7, .5);
        border-radius: 6px;
        transition: color .4s;
        z-index: 10;

        &:hover {
            color: #fff;

            &:after {
                opacity: 1;
            }
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom right, #EC3A3A, #F87B46);
            opacity: 0;
            z-index: -1;
            transition: opacity .4s;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #D8DEE8;
            transform: translateY(-50%);
        }
    }

    .tabs__programs a {
        padding: 8px 16px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        gap: 5px;
        background-color: rgba(#EDF5F7, .5);
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
        transition: opacity .4s;

        &:hover {
            opacity: .7;
        }
    }

    .tabs__programs .tabs__program-btn img{
        width: 32px;
        height: 24px;
        object-fit: contain;
    }

    .tabs__programs a img {
        width: 21.5px;
        height: 17.5px;
        object-fit: contain;
    }

    .tab__heading-rapid,
    .tab__heading-2step {
        display: none;
        font-size: 20px;
        line-height: 1.5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media screen and (max-width: $breakpoint-mobile) {
            border-radius: 5px;
            font-size: 18px;
        }
    }   

    .tab__heading-rapid > *,
    .tab__heading-2step > * {
        width: 25%;

        @media screen and (max-width: $breakpoint-tablet) {
            width: 22.9%;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            width: 33.333%;
        }
    }

    .tabs__footer {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
    }

    .tabs__footer h6 {
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        color: #FF562F;
        padding: 9px;
        background-color: #F6FAFB;
        text-align: center;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .tabs__footer h6 span {
        font-weight: 700;
        font-size: 20px;
    }

    //tabs__balance current

    .tabs__balance a.is-current {
        background-image: linear-gradient(to bottom right, #EC3A3A, #F87B46);
        color: #fff;

        &:before {
            border: 3px solid #fff;
            width: 11px;
            height: 11px;
        }
    }

    //tabs__programs current

    .tabs__programs a.is-current {
        background-image: linear-gradient(to bottom right, #EC3A3A, #F87B46);
        color: #fff;
    }

    .tabs__programs a.is-current .tabs__program-current {
        display: block;
    }

    .tabs__programs a.is-current .tabs__program-default {
        display: none;
    }

    .tab__heading-rapid.is-visible,
    .tab__heading-2step.is-visible {
        padding: 9px 48px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        background-color: #28418C;
        color: #fff;    

        @media screen and (max-width: $breakpoint-mobile) {
            padding: 9px;
        }
    }
}